.footer_wrapper {
  position: relative;
  position: relative;
  border-top: 10px solid #f1c144;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  z-index: 3;
  overflow: hidden;
  a {
    color: #797979 !important;
  }
  &:before {
    content: "";
    position: absolute;
    width: 450px;
    height: 270px;
    background: #f5d63f;
    display: block;
    border-top-left-radius: 50px;
    top: 67%;
    right: -12%;
    transform: rotate(45deg);
    z-index: 4;
    @media (max-width: 769px) {
      z-index: -1;
      background: #f0c044;
      right: -23%;
      transform: rotate(30deg);
      opacity: 0.55;
    }
  }
  &:after {
    content: "";
    position: absolute;
    width: 450px;
    height: 328px;
    background: #f0c044;
    display: block;
    border-top-left-radius: 50px;
    top: 48%;
    right: -10%;
    transform: rotate(45deg);

    @media (max-width: 991px) {
      top: 55%;
    }

    @media (max-width: 769px) {
      z-index: -2;
      background: #f5d63f;
      right: -20%;
      top: 55%;
      transform: rotate(30deg);
      opacity: 0.65;
    }
  }
  .container {
    &:before {
      content: "";
      position: absolute;
      width: 450px;
      height: 270px;
      background: #fef4d0;
      display: block;
      border-top-left-radius: 50px;
      top: 67%;
      right: 1%;
      transform: rotate(45deg);
      z-index: 0;
      @media (max-width: 769px) {
        z-index: -1;
        transform: rotate(30deg);
      }
    }
  }
  .footer_widget {
    justify-content: space-between;
    z-index: 5;
    position: relative;
    @media (max-width: 769px) {
      text-align: center;
    }
    h3 {
      font-size: 16px;
      line-height: 46px;
      margin: 0;
      position: relative;
    }
    ul {
      padding-left: 15px;
      li {
        list-style: none;
        a {
          font-size: $clamp14;
          color: #797979;
          &:hover {
            color: #f1c144;
          }
        }
      }
    }
    .footer_logo {
      background: #f1c144;
      padding: 0px 37px 18px 37px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      width: 75%;
      @media (max-width: 769px) {
        margin: 0 auto;
      }
    }
  }
  .copyright_wrapper {
    background: #f1c144;
    border-top-left-radius: 70px;
    padding: 10px 25px;
    position: relative;
    z-index: 3;
    .container {
      &::before {
        display: none;
      }
    }
    p {
      margin-bottom: 0;
      color: #fff;
      font-size: $clamp14;
    }
    .socialmedia {
      img {
        width: 15px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
          saturate(7485%) hue-rotate(95deg) brightness(109%) contrast(100%);
      }
    }
  }
}
.footer_inner {
  min-height: 165px;
}
